# Pipeline Name
name: DevSecOps-Tools

# pipeline trigger
on: [push]

# SAST job 
jobs:
    SAST-SCAN:
        # Machine to run the job
        name: Run SAST Scan
        runs-on: ubuntu-latest

        steps:
        # Clone repository to server
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5.0.0
          with:
          # Version range or exact version of Python
            python-version: 3.8

        - name: Install Bandit Scanner
          run: pip install bandit

        #   Scan all file in the repository recursively
        - name: Run Bandit Scan
          run: bandit -lll -r . -o report-card.json -f json

        #  Generate report file for Vulnurability management tools
        - name: Upload Output as an artifact
          uses: actions/upload-artifact@v3
          if: always()
          with:
            name: Uploaded-scan
            path: report-card.json

    DOCKER-IMAGE-SCAN:
      # Machine to run the job
        name: Run Image Scan
        runs-on: ubuntu-latest

        steps:
          # Clone repository to server
          - name: Checkout Code
            uses: actions/checkout@v4

          - uses: docker-practice/actions-setup-docker@master
            timeout-minutes: 12  

          - name: Docker Build
            run: docker build -f Dockerfile -t devsecops-app:latest .

          - name: Docker Scout Scan
            run: |
              curl -fsSL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
              sh install-scout.sh

              echo ${{secrets.DOCKER_PASSWORD}} 
              docker scout quickview
              docker scout cves
         